{% from "dpr/components/card-group/view.njk" import dprCardGroup %}

{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1>Home</h1>

  {{ dprCardGroup([
    {
      text: 'List',
      href: '/list',
      description: 'View the full list of Fake Prisoner Preferences.'
    },
    {
      text: 'Add',
      href: '/add',
      description: 'Add Fake Prisoner Preferences.'
    }
  ]) }}

{% endblock %}
